In [15]:
! pip install pandas
! pip install DateTime
! pip install numpy

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: DateTime in c:\python312\lib\site-packages (5.5)
Requirement already satisfied: zope.interface in c:\python312\lib\site-packages (from DateTime) (6.4.post2)
Requirement already satisfied: pytz in c:\python312\lib\site-packages (from DateTime) (2023.3.post1)
Requirement already satisfied: setuptools in c:\python312\lib\site-packages (from zope.interface->DateTime) (70.3.0)

[notice] A new release of pip is available: 23.3.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\python312\lib\site-packages (1.26.2)

[notice] A new release of pip is available: 23.3.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
import json
import random
from datetime import datetime, timedelta
import pandas as pd

In [17]:
# Generate random dates within a specified range
def generate_random_date(start_date, end_date):
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + timedelta(days=random_number_of_days)
    return random_date

In [18]:
order_history = []
order_history

[]

In [19]:
# Define date range for random date generation 
end_date = datetime.now()
start_date = end_date - timedelta(days=180)

In [20]:
# Load users and products data from JSON files
with open('../mongo/users.json', 'r') as f:
    users = json.load(f)

with open('../mongo/products.json', 'r') as f:
    products = json.load(f)

In [21]:
num_orders = 100  # Number of orders to generate

for _ in range(num_orders):
    user = random.choice(users)
    product = random.choice(products)
    quantity = random.randint(1, 5)
    order_date = datetime.now() - timedelta(days=random.randint(1, 365))

    order_entry = {
        'order_date': order_date,
        'user_id': user['userid'],
        'product_id': product['productID'],
        'product_name': product['name'],
        'product_category': product['category'],
        'user_name': user['username']
    }

    order_history.append(order_entry)

In [22]:
# Convert to DataFrame
df = pd.DataFrame(order_history)

# Display the first few rows of the generated data
print("Generated Order History:")
print(df.head())

# Save to CSV
df.to_csv('order_history.csv', index=False)

print("\nOrder history saved to 'order_history.csv'")

Generated Order History:
                  order_date     user_id  product_id       product_name  \
0 2024-05-28 11:42:03.040026  0006754277          16    KeepAll Handbag
1 2023-09-28 11:42:03.040026  2200012364           2     CarryAll Purse
2 2023-11-27 11:42:03.040026  2200012364          16    KeepAll Handbag
3 2024-07-11 11:42:03.040026  4563534676          14  Neverfull Handbag
4 2023-12-12 11:42:03.040026  1000012364           2         Camera Box

  product_category        user_name
0         Handbags      RosePetal22
1         Handbags    PinkUnicorn42
2         Handbags    PinkUnicorn42
3         Handbags  LavenderDream89
4         Handbags    MermaidWish55

Order history saved to 'order_history.csv'

In [23]:
df

,order_date,user_id,product_id,product_name,product_category,user_name
0,2024-05-28 11:42:03.040026,0006754277,16,KeepAll Handbag,Handbags,RosePetal22
1,2023-09-28 11:42:03.040026,2200012364,2,CarryAll Purse,Handbags,PinkUnicorn42
2,2023-11-27 11:42:03.040026,2200012364,16,KeepAll Handbag,Handbags,PinkUnicorn42
3,2024-07-11 11:42:03.040026,4563534676,14,Neverfull Handbag,Handbags,LavenderDream89
4,2023-12-12 11:42:03.040026,1000012364,2,Camera Box,Handbags,MermaidWish55
...,...,...,...,...,...,...
95,2024-05-26 11:42:03.041026,0006754277,8,Shake Sandal,Shoes,RosePetal22
96,2024-01-17 11:42:03.041026,0006754277,15,OnTheGo Handbag,Handbags,RosePetal22
97,2023-08-23 11:42:03.041026,0000012364,13,Afternoon Swim Perfume,Perfumes,SapphireQueen7
98,2024-02-08 11:42:03.041026,4563534676,1,CarryAll Purse,Handbags,LavenderDream89
99,2024-01-18 11:42:03.041026,2200012364,14,Neverfull Handbag,Handbags,PinkUnicorn42