In [1]:
! pip install pandas
! pip install DateTime
! pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: DateTime in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (5.5)
Requirement already satisfied: zope.interface in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from DateTime) (6.4.post2)
Requirement already satisfied: pytz in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from DateTime) (2024.1)
Requirement already satisfied: setuptools in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from zope.interface->DateTime) (70.3.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (1.26.4)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import json
import random
from datetime import datetime, timedelta
import pandas as pd

In [3]:
# Generate random dates within a specified range
def generate_random_date(start_date, end_date):
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + timedelta(days=random_number_of_days)
    return random_date

In [4]:
order_history = []
order_history

[]

In [5]:
# Define date range for random date generation 
end_date = datetime.now()
start_date = end_date - timedelta(days=180)

In [6]:
# Load users and products data from JSON files
with open('../mongo/users.json', 'r') as f:
    users = json.load(f)

with open('../mongo/products.json', 'r') as f:
    products = json.load(f)

In [7]:
num_orders = 1000  # Number of orders to generate

for _ in range(num_orders):
    user = random.choice(users)
    product = random.choice(products)
    quantity = random.randint(1, 5)
    order_date = datetime.now() - timedelta(days=random.randint(1, 365))

    order_entry = {
        'order_date': order_date,
        'user_id': user['userid'],
        'product_id': product['productID'],
        'product_name': product['name'],
        'product_category': product['category'],
        'user_name': user['username']
    }

    order_history.append(order_entry)

In [8]:
# Convert to DataFrame
df = pd.DataFrame(order_history)

# Display the first few rows of the generated data
print("Generated Order History:")
print(df.head())

# Save to CSV
df.to_csv('order_history.csv', index=False)

print("\nOrder history saved to 'order_history.csv'")

Generated Order History:
                  order_date     user_id  product_id      product_name  \
0 2023-10-12 14:49:48.142344  0006754277           9   Christopher Bag
1 2023-08-27 14:49:48.142344  3300024728          13     City of Stars
2 2024-03-28 14:49:48.142344  0000012364          18  LV Lace Necklace
3 2023-11-11 14:49:48.142344  4563534676           2        Camera Box
4 2024-02-11 14:49:48.142344  3300024728          10        Rider Boot

  product_category        user_name
0         Handbags      RosePetal22
1         Perfumes     TechWizard88
2          Jewelry   SapphireQueen7
3         Handbags  LavenderDream89
4            Shoes     TechWizard88

Order history saved to 'order_history.csv'

In [9]:
df

,order_date,user_id,product_id,product_name,product_category,user_name
0,2023-10-12 14:49:48.142344,0006754277,9,Christopher Bag,Handbags,RosePetal22
1,2023-08-27 14:49:48.142344,3300024728,13,City of Stars,Perfumes,TechWizard88
2,2024-03-28 14:49:48.142344,0000012364,18,LV Lace Necklace,Jewelry,SapphireQueen7
3,2023-11-11 14:49:48.142344,4563534676,2,Camera Box,Handbags,LavenderDream89
4,2024-02-11 14:49:48.142344,3300024728,10,Rider Boot,Shoes,TechWizard88
...,...,...,...,...,...,...
995,2023-08-06 14:49:48.155355,0006754277,6,Trainer Sneaker,Shoes,RosePetal22
996,2023-09-26 14:49:48.155355,2200012364,17,Louisa Hair Clip,Jewelry,PinkUnicorn42
997,2023-12-01 14:49:48.155355,2200012364,12,Perfumes Miniature Set,Perfumes,PinkUnicorn42
998,2024-05-15 14:49:48.155355,0000012364,13,City of Stars,Perfumes,SapphireQueen7
999,2024-01-05 14:49:48.155355,1000012364,9,Christopher Bag,Handbags,MermaidWish55